.titulo-pagina {
    text-align: center;
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(236, 46, 46);
    margin: 1px;
}
.nome-da-propriedade {
    font-size: 2em;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(234, 202, 42);
    padding: 20px;
}
.valor-da-propriedade {
    font-size: 1,5em;
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243, 159, 63);
    padding: 30px;
}
hr {
    margin: 1px;
}
.bloco1 {
    font: bold;
    background-color: rgb(110, 100, 252);
    height: 100px;
    width: 130px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco2 {
    font: bold;
    background-color: rgb(69, 56, 239);
    height: 100px;
    width: 130px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco3 {
    font: bold;
    background-color: rgb(16, 0, 244);
    height: 100px;
    width: 130px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco1-sem-altura {
    font: bold;
    background-color: rgb(110, 100, 252);
    width: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco2-sem-altura {
    font: bold;
    background-color: rgb(69, 56, 239);
    width: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco3-sem-altura {
    font: bold;
    background-color: rgb(16, 0, 244);
    width: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco1-fontes-diferentes {
    font: bold;
    background-color: rgb(110, 100, 252);
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco2-fontes-diferentes {
    font: bold;
    background-color: rgb(69, 56, 239);
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.bloco3-fontes-diferentes {
    font: bold;
    background-color: rgb(16, 0, 244);
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12px;
}
.container-row {
    display: flex;
    flex-direction: row;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.container-column {
    display: flex;
    flex-direction: column;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.container-column-reverse {
    display: flex;
    flex-direction: column-reverse;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.justify-content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.justify-content-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.justify-content-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.justify-content-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.justify-content-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.justify-content-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.align-items-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.align-items-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.align-items-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.align-items-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.align-items-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.align-items-baseline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.flex-wrap-nowrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    background-color: rgb(238, 212, 255);
    padding: 15px;
    height: 500px;
}
.flex-wrap-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}
.flex-wrap-wrap-reverse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}
.flex-flow-row-nowrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}
.align-content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}

.align-content-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}
.align-content-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}
.align-content-space-between {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}
.align-content-space-around {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}
.align-content-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;

    background-color: rgb(238, 212, 255);
    padding: 16px;
    height: 500px;
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgb(148, 198, 196) ;
    padding: 25px;
    height: 50px;
    gap: 75px;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 13, 152);
    width: 500px;
    height: 70px;
    text-align: center;
    font-size: 25px;
    border-radius: 12px;
    text-decoration: none; 
}
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 243, 242);
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 8px;
    border-radius: 12px;
    text-decoration: none; 
}